/*
	                                            .___
	  ____   ______ ______ ____  ___________  __| _/
	_/ ___\ /  ___//  ___// ___\/  _ \_  __ \/ __ | 
	\  \___ \___ \ \___ \\  \__(  <_> )  | \/ /_/ | 
	 \___  >____  >____  >\___  >____/|__|  \____ | 
	     \/     \/     \/     \/                 \/ 
	     	Created by Ran Yakumo (ranthekitsune)
*/

.markup .highlight {
	color: rgba(255, 241, 118, 1);
	background-color: rgba(255, 241, 118, 0.6);
}

.markup .highlight:hover {
	color: rgba(255, 241, 118, 1);
	background-color: rgba(255, 241, 118, 0.6);
}

div.user-popout div.body .member-roles component.member-role {
  opacity: 100%;
}


div.user-popout header.header {
  background-image: repeating-linear-gradient(-45deg, #e57373, #e57373 25px, #f44336 26px, #f44336 50px);
  -webkit-animation:userprofile 2s linear infinite;
  -moz-animation:userprofile 2s linear infinite;
  -ms-animation:userprofile 2s linear infinite;
  animation:userprofile 2s linear infinite;
  background-size: 150% 100%;
}

input.quick-message {
	background-color: #03A9F4;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B3E5FC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #B3E5FC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #B3E5FC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #B3E5FC;
}

div.user-popout {
  opacity: 0.9;
}

div.user-popout div.body {
  background-color: black;
}
div.user-popout div.footer {
  background-color: black;
}

div.user-popout div.footer div.protip.inline label.label {
  color: #00ACC1;
}

span.bot-tag {
	background: #ef5350;
	content: 'Wew';
}
.bot-tag-invert {
	background: #ef5350;
	content: 'Wew';
}

div.guild:hover {
	border-color: #26A69A;
}

@-webkit-keyframes userprofile {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}
@-moz-keyframes userprofile {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}    
@-ms-keyframes userprofile {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -75px 0px;
  }
}    
@keyframes userprofile {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -70px 0px;
  }
} 

form.form.settings.user-settings-modal {
	opacity: 0.98;
}

form.form.settings.user-settings-modal div.settings-header div.tab-bar.SIDE {
  background-color: #FFFFFF;
}

form.form.settings.user-settings-modal div.settings-header div.tab-bar-item {
  color: #26C6DA;
}
form.form.settings.user-settings-modal div.settings-header div.tab-bar-header {
  color: #00ACC1;
}

button.btn.btn-primary {
	background-color: #26C6DA;
}

button.btn.btn-primary:hover {
	background-color: #80DEEA;
}

div.divider.divider-red {
	color: #80DEEA;
}


.status.status-online {
	background-color: #AED581;
}

.status.status-dnd {
	background-color: #e57373;
}

.status.status-idle {
	background-color: #FFF176;
}
.status.status-offline {
	background-color: #E0E0E0;
}

.guilds-wrapper .guilds .guild.unread:before {
    height: 12px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #3949AB;
    margin-top: -6px;
}

.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {
    content: ' ';
    width: 12px;
    height: 12px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #64B5F6;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    position: absolute;
    top: 12px;
    left: -6px;
}

.guild-channels .channel-text:hover.channel-muted:before, .guild-channels .channel-text:hover:not(.unread):before {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: ' ';
    border-left: 2px solid #64B5F6;
    opacity: .25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
}


.channel-name {
	color: #64B5F6;
}

div.chat.flex-vertical.flex-spacer div.title-wrap div.title .channel-name {
	color: #64B5F6;
}

.channel-name:before {
	color: #64B5F6 !important;
    margin-right: 3px !important;
    font-weight: 600;
}

.highlight {
	color: #FDD835;
	background-color: rgba(0, 0, 0, 0.2);
}

.highlight:hover {
    cursor: pointer;
    color: #fff;
	background-color: rgba(0, 0, 0, 0.2);
}

.markdown-modal .markdown-modal-header {
    margin: 28px 0 0;
    text-align: center;
    padding: 0 20px 28px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    font-weight: 600;
    font-size: 3em;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    color: #CDDC39;
}

.markdown-modal {
	color: #64B5F6;
	background-color: rgba(0, 0, 0, 0.6);;
}
